a {
  text-decoration: none;
}

* {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

p, h1, h2, h3, h4 {
  color: #464646;
}

.btn {
  border-radius: 5px;
  padding: 0.5rem;
}

.btn:hover {
  background-color: #e0e0e0;
  color: #464646;
}

.page-template main {
  position: absolute;
  top: 3rem;
  width: 100%;
}

header {
  background-color: #7D9091;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.logo {
  padding: 5px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 180px;
}

.menu-header {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header ul li {
  margin: 0 0.6rem;
}

.menu-header ul a {
  color: #f1f1f1;
}

.search-header {
  padding: 4px 9px;
  background-color: #fff;
  border-radius: 11px;
  border: #a7a7a7 solid 1px;
  width: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-header input {
  width: 100%;
  border: none;
  margin-left: 4px;
}

.search-header input:focus {
  outline: 0;
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  height: 18px;
  width: 35px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #474755;
  background: -webkit-gradient(linear, left top, left bottom, from(#2d2f39), to(#1f2027));
  background: linear-gradient(180deg, #2d2f39 0%, #1f2027 100%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.toggle:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
          box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.toggle:checked {
  border-color: #a2d0c1;
}

.toggle:checked:after {
  -webkit-transform: translatex(16px);
          transform: translatex(16px);
  background: #a2d0c1;
}

.toggle:focus {
  outline: 0;
}

.darkmode-handel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.darkmode-handel span {
  margin-left: 5px;
  font-size: 1rem;
}

.side-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40px;
}

.side-button svg {
  color: #f3f3f3;
  width: 22px;
}

.sidebar {
  background-color: #e0e0e0;
  height: 100%;
  left: -15rem;
  position: fixed;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 15rem;
  z-index: 2;
}

.sidebar.open {
  left: 0px;
}

.sidebar nav {
  margin-top: 4rem;
}

.sidebar ul {
  list-style: none;
  position: fixed;
}

.sidebar li {
  margin-bottom: 1rem;
}

.sidebar a {
  color: #454545;
  text-decoration: none;
}

.top-section {
  background-image: url("/img/background-header.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 700px;
  position: relative;
  width: 100%;
}

.top-section h2, .top-section p {
  text-align: center;
}

.top-section h2 {
  font-weight: 500;
  letter-spacing: -1px;
  font-size: 34px;
  max-width: 600px;
  text-align: center;
  margin: 1.6rem auto;
}

.top-section p {
  font-size: 20px;
  margin: 1px 1rem;
}

.logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-top ul {
  margin: 0;
  display: none;
  list-style: none;
}

.login-top li {
  margin-right: 1rem;
}

.login-top a {
  color: #f1f1f1;
  font-size: 14px;
}

.login-top .login {
  border: 1px solid #fff;
  border-radius: 18px;
  padding: 0.5em 0.8em;
}

.site-description {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}

.site-description h2, .site-description p {
  color: #F2F2F2;
}

.txt-type {
  color: #edb63c;
}

.cursor__ {
  -webkit-animation: Typewriter-cursor 1s infinite;
          animation: Typewriter-cursor 1s infinite;
}

@-webkit-keyframes Typewriter-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes Typewriter-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hompage-main h2 {
  color: #454545;
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
}

.search-courses {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  -webkit-box-shadow: 5px 7px 20px 0px #a3a3a3;
          box-shadow: 5px 7px 20px 0px #a3a3a3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin: 0 2rem;
  max-width: 550px;
  width: 100%;
}

.search-courses input, .search-courses button {
  background-color: transparent;
  border: none;
}

.search-courses input:focus, .search-courses button:focus {
  outline: none;
}

.search-courses input[type=text] {
  width: 100%;
}

#search-btn img {
  width: 1.2em;
  margin-right: 0.4em;
}

.card-container {
  margin-top: 1rem;
}

.card-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 2rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-container .card {
  max-width: 280px;
  height: 180px;
  margin: 1rem;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 1px 7px 17px -2px #a3a3a3;
          box-shadow: 1px 7px 17px -2px #a3a3a3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card-container .card:hover {
  background-color: #f1f1f1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-container .card .logo-card {
  height: 55px;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-container .card .logo-card img {
  height: 100%;
}

.card-container .card h3 {
  text-align: center;
  color: #a7a7a7;
  font-size: 16px;
}

footer {
  margin-top: 2rem;
}

footer ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin: 1rem;
  text-align: center;
}

footer ul li a {
  text-align: center;
  font-weight: 500;
  color: #464646;
  border-bottom: 2px dotted gray;
  padding-bottom: 4px;
}

footer ul li a:hover {
  border-bottom: 3px solid gray;
}

.copyright-footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #6d6d6d;
  padding: 1rem;
}

@media (min-width: 768px) {
  .logo-link {
    margin-right: auto;
    margin-left: 1rem;
  }
  .login-top ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .side-button {
    display: none;
  }
  aside {
    display: none;
  }
  footer ul {
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 992px) {
  header {
    padding: 5px 0px;
  }
  .top-section h2 {
    font-size: 38px;
  }
  .card-container {
    max-width: 1070px;
    margin: 4rem auto !important;
  }
  .card-container .card {
    max-width: 180px;
  }
}
/*# sourceMappingURL=style.css.map */