@import "./index";

a{
  text-decoration: none;
}


*{
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

p,h1,h2,h3,h4{
  color: $font-color;
}


header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.logo{
  width: 180px;
  padding: 5px 0;
}


//Sidebar

.side-button{

  width: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  svg{
    color: #f3f3f3;
    width: 22px;
  }
}

.sidebar{
  top: 0;
  position: fixed;
  width: 15rem;
  height: 100%;
  background-color: #e0e0e0;
  left: -14rem;
  z-index: 2;
  nav{
    margin-top: 4rem;
  }
  ul{
    list-style: none;
    position: fixed;
  }
  li{
    margin-bottom: 10px;
  }
  a{
    text-decoration: none;
    color: #454545;
    &.active{
      font-weight: bold;
    }
  }

}

.top-section{

  background-image: url("/img/background-header.png");
  background-size: cover;
  background-position: center; 
  height: 100vh;
  max-height: 700px;
  position: relative;
  width: 100%;
  
  h2,p{
    text-align: center;
  }

  h2{
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 34px;
    max-width: 500px;
    text-align: center;
    margin: 1.6rem auto;
  }
  p{
    font-size: 20px;
    margin: 5px 1rem;
    margin: 10px;
  }

}

.logo-link{
  display: flex;
  align-items: center;
}

.login-top{
  background-color: transparent;
  border: none;
}

.site-description{
  h2,p{
    color: #F2F2F2;
  }
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}


#homepage{
  header{
    background-color: $background-color;
  }
}



.hompage-main{
  h2{
    font-weight: 500;
    text-align: center;
    width: 100%;
    font-size: 26px;
    color: $h-base-color;
    margin-bottom: 2rem;
  }
}

.search-courses{
  max-width: 550px;
  width: 100%;
  display: flex;
  padding: 10px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  box-shadow: 5px 7px 20px 0px rgba(163,163,163,1);
  margin: 0 2rem;

  input, button{
    background-color: transparent;
    border: none;

    &:focus{
      outline: none;
    }
  }

  input[type=text]{
    width: 100%;
  } 

}

.card-container{
  margin-top: 1rem;
  a{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 2rem 0;
    flex-direction: column;
    justify-content: space-around;
  }

  .card{
    max-width: 280px;
    height: 180px;
    margin: 1rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 7px 17px -2px rgba(163,163,163,1);
    transition: 0.2s;
    &:hover{
      background-color: #f1f1f1;
      margin-top: 8px;

    }

    .logo-card{
      margin-top: 1rem;
      height: 55px;
      display: flex;
      justify-content: center;
      img{
        height: 100%;
      }
    }

    h3{
      text-align: center;
      color: #a7a7a7;
      font-size: 16px;
    }
  }
}

footer{
  margin-top: 2rem;
  ul{
    list-style: none;
    width: 100%;
    padding: 0;
    padding-left: 2rem;
    margin: 0;
    li{
      margin: 1rem 1rem;
      a{
        text-align: center;
        font-weight: 500;
        color: $grey-color;
        border-bottom: 2px dotted gray;
        padding-bottom: 4px;
        &:hover{
          border-bottom: 3px solid gray;
        }
      }
    }
  }
}

.copyright-footer{
  margin-top: 2rem;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #6d6d6d
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

  .logo-link{
    margin-right: auto;
    margin-left: 1rem;
  }

  footer{
    ul{
      padding: 0;
      max-width: 600px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  
  
  .top-section{
    h2{
      font-size: 38px;
    }
  }


  .card-container{
    max-width: 1070px;
    margin: 4rem auto !important;
    
    .card{
      max-width: 180px;
    }
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }