@import "./index";

//General styles

a{
  text-decoration: none;
}


*{
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

p,h1,h2,h3,h4{
  color: $font-color;
}

.btn{
  border-radius: 5px;
  padding: 0.5rem;
  &:hover{
    background-color: #e0e0e0;
    color: rgb(70, 70, 70);
  }
}



//Header page

header{
  background-color: $background-color;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.logo{
  padding: 5px 0;
  user-select: none;
  width: 180px;
}

.menu-header{
  display: flex;
  align-items: center;
  ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;

    li{
      margin: 0 0.6rem;
    }
    a{
      color: #f1f1f1;
    }
  }
}


.search-header{
  padding: 2px 9px;
  background-color: #fff;
  border-radius: 11px;
  input{
    border: none;
  }
}


.toggle {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	height: 18px;
	width: 35px;
	border-radius: 10px;
	display: inline-block;
	position: relative;
	margin: 0;
	border: 2px solid #474755;
	background: linear-gradient(180deg, #2d2f39 0%, #1f2027 100%);
	transition: all 0.2s ease;

	&:after {
		content: "";
		position: absolute;
		top: 0px;
		left: 2px;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		background: #fff;
		box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
		transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
	}

	&:checked {
		border-color: #a2d0c1;
		&:after {
			transform: translatex(16px);
			background: #a2d0c1;
		}
	}

	&:focus {
		outline: 0;
	}
}

.darkmode-handel{
  display: flex;
  span{
    margin-left: 5px;
    font-size: 1rem;
  }
}




//Sidebar

.side-button{
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 40px;

  svg{
    color: #f3f3f3;
    width: 22px;
  }
}

.sidebar{
  background-color: #e0e0e0;
  height: 100%;
  left: -15rem;
  position: fixed;
  top: 0;
  transition: 0.4s;
  width: 15rem;
  z-index: 2;

  &.open{
    left: 0px;
  }

  nav{
    margin-top: 4rem;
  }
  ul{
    list-style: none;
    position: fixed;
  }
  li{
    margin-bottom: 1rem;
  }
  a{
    color: #454545;
    text-decoration: none;
  }

}

.top-section{

  background-image: url("/img/background-header.png");
  background-size: cover;
  background-position: center; 
  height: 100vh;
  max-height: 700px;
  position: relative;
  width: 100%;
  
  h2,p{
    text-align: center;
  }

  h2{
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 34px;
    max-width: 600px;
    text-align: center;
    margin: 1.6rem auto;
  }
  p{
    font-size: 20px;
    margin: 1px 1rem;
  }

}

.logo-link{
  display: flex;
  align-items: center;
}

.login-top{
  ul{
    display: none;
    //display: flex;
    list-style: none;
  }
  li{
    margin-right: 1rem;
  }

  a{
    color: #f1f1f1;
    font-size: 14px;
  }

  .login{
    border: 1px solid #fff;
    border-radius: 18px;
    padding: 0.5em 0.8em;
  }
}


.site-description{
  h2,p{
    color: #F2F2F2;
  }
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}

.txt-type{
  color: #edb63c;
}

.cursor__{
  animation: Typewriter-cursor 1s infinite;
}

@keyframes Typewriter-cursor{
  0%{
    opacity: 0;
  }

  50%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}

//Search container


.hompage-main{
  h2{
    color: $h-base-color;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
  }
}

.search-courses{
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  box-shadow: 5px 7px 20px 0px rgba(163,163,163,1);
  display: flex;
  padding: 10px;
  margin: 0 2rem;
  max-width: 550px;
  width: 100%;

  input, button{
    background-color: transparent;
    border: none;

    &:focus{
      outline: none;
    }
  }

  input[type=text]{
    width: 100%;
  } 

}

#search-btn img{
  width: 1.2em;
  margin-right: 0.4em;
}




//Card container

.card-container{
  margin-top: 1rem;
  a{
    display: flex;
    height: 100%;
    width: 100%;

    padding: 2rem 0;
    flex-direction: column;
    justify-content: space-around;
  }

  .card{
    max-width: 280px;
    height: 180px;
    margin: 1rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 7px 17px -2px rgba(163,163,163,1);
    transition: 0.2s;

    &:hover{
      background-color: #f1f1f1;
      transform: scale(1.1);
    }

    .logo-card{
      height: 55px;
      margin-top: 1rem;
      
      display: flex;
      justify-content: center;
      img{
        height: 100%;
      }
    }

    h3{
      text-align: center;
      color: #a7a7a7;
      font-size: 16px;
    }
  }
}

// Footer component

footer{
  margin-top: 2rem;
  ul{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    li{
      margin: 1rem;
      text-align: center;
      a{
        text-align: center;
        font-weight: 500;
        color: $grey-color;
        border-bottom: 2px dotted gray;
        padding-bottom: 4px;
        &:hover{
          border-bottom: 3px solid gray;
        }
      }
    }
  }
}

.copyright-footer{
  margin-top: 2rem;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #6d6d6d;
  padding: 1rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

  //Header

  .logo-link{
    margin-right: auto;
    margin-left: 1rem;
  }

  .login-top{
    ul{
      display: flex;
    }
  }


  //Sidepanel

  .side-button{
    display: none;
  }


  aside{
    display: none;
  }

  
  //Footer component

  footer{
    ul{
      padding: 0;
      max-width: 600px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  
  
  //header
  header{
    padding: 5px 0px;
  }

  //homepage
  .top-section{
    h2{
      font-size: 38px;
    }
  }


  .card-container{
    max-width: 1070px;
    margin: 4rem auto !important;
    
    .card{
      max-width: 180px;
    }
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }